#body {background-color:#000;color:#fff;padding:5px 20px;text-align:justify}
#body p {font-size:20pt;}
#body p.question {font-size:27pt;text-alignment:center;}
form label, form input, form textarea {display:block;clear:both;width:100%;margin-bottom:10px;}
form {background-color:#808080;padding:10px;}
